* {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #000;
}

.down>li {
    display: inline-block;
    width: 80px;
    padding: 5px 10px;
    background-color: blue;
}